<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144738786640-4um5uv1ik21iiegs037dhscl06ao11k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144738786640-4um5uv1ik21iiegs037dhscl06ao11k4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144738786640-aij7uvte7dbg9s2fes418n6vomdn3j6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2_JWf9zTSACgBbs0osms_OSQe_4IHkVA</string>
	<key>GCM_SENDER_ID</key>
	<string>144738786640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalTask</string>
	<key>PROJECT_ID</key>
	<string>attendance-system-e3c5d</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-system-e3c5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144738786640:ios:da88a15eb1a89f60d12055</string>
</dict>
</plist>